html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: arial,sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    font-size: 1.3em;
}

.header {
    margin: 1.5em;
}

.footer {
    margin: 0;
    background-color: #f2f2f2;
}

.nav_spacer {
    flex: 1;
}

.space_under_header {
    flex: 1;
}

.space_above_footer {
    flex: 3;
}

.head_link {
    margin-right: 1em;
    text-decoration: none;
    color: #222;
}

.sign_in {
    padding: .3em 1em;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}

.main_page_item {
    width: 50%;
    align-self: center;
    text-align: center;
}

.search_container {
    width: 60%;
    align-self: center;
    position: relative;
    padding-left: 1em;
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 
                0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.search_input {
    width: 90%;
    height: 2.7em;
    font-size: 1.5em;
    text-align: left;
    outline: none;
    border: none;
}

.search_pic {
    position: absolute;
    top: .6em;
    right: 1em;
    height: 70%;
}

.search_buttons button {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.logo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 8.5em;
    font-weight: 700;
    letter-spacing: -.15em;
    margin: 0;
}

.blue {
    color: rgb(66, 133, 244);
}

.red {
    color: rgb(219, 68, 55);
}

.yellow {
    color: rgb(244, 180, 0);
}

.green {
    color: rgb(15, 157, 88);
}

.footer_link {
    margin: 1em;
    text-decoration: none;
    color: #666;
}