body {
    width: 100%;
    margin: 0;
    font-size: 10px;
    font-family: arial,sans-serif;
    box-sizing: border-box;
}

/* Styling for the Header Nav Bar */
.header_nav {
    height: 30px;
    margin: 2em 1.5em;
    display: flex;
    justify-content: space-between;
}

.nav_left, .nav_right {
    font-size: 1.3em;
    display: flex;
    align-content: center;
}

.nav_link {
    text-decoration: none;
    color: #000;
    margin: .5em;
}

.nav_link:hover {
    text-decoration: underline;
}

.sign_in {
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.icon_container {
    width: 30px;
    height: 30px;
    margin-right: 1em;
}

.icon_container img {
    width: 100%;
}